**/.DS_Store
**/.git
**/.gitignore
**/.vscode
**/.vs
**/.idea

**/bin/
**/obj/
**/publish/

**/data/
**/logs/

**/*.nupkg
**/packages/
**/.nuget/

**/*.Tests/
**/TestResults/

**/*.iisx
**/*.user
**/*.suo